{% extends "admin/layout.njk" %}

{% block headAdmin %}
    <title>Listing</title>
{% endblock %}

{% block contentAdmin %}
<div class="manager">
    <h2>Gerenciar receitas</h2> 
</div>
<div class="listing">

{% for chef in chefs %}
    <div class="chef">
        <img src="{{chef.image}}" alt="">
        <div>
            <h3>{{chef.title}}</h3>
            <p>por {{chef.author}}</p>
            <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
        </div>
    </div>
{% endfor %}

</div>

{% endblock %}