{% extends "layout.njk" %}

    {% block head %}
        <title>Create</title>
    {% endblock %}
    
    {% block content %}
        <form class="content-body">
            <div class="content-header">
                <h2>Imagem da receita</h2>
                <button type="submit">Salvar receita</button>
            </div>
            <div class="content-input">
                <div class="input-image">
                    <h2>Ingredientes</h2>
                    <input type="text" name="" id="">
                    <button>Adicionar novo ingrediente</button>
                </div>
                <div class="input-ingredientes">
                    <h2>Modo de preparo</h2>
                    <input type="text" name="" id="">
                    <button>Adicionar novo passo</button>
                </div>
                <input type="text" name="" id="">
            </div>
        </form>
    {% endblock %}