{% extends "admin/layout.njk" %}

{% block head %}
    <title>Create</title>
{% endblock %}

{% block contentAdmin %}
    <form class="content-body" method="POST" action="/admin/recipes">
        {% include 'admin/fields.njk'%}
    </form>
{% endblock %}