{% extends "admin/layout.njk" %}

    {% block head %}
        <title>Create</title>
    {% endblock %}
    
    {% block contentAdmin %}
        <form class="content-body">

            <div class="content-header">
                <h2>Criando Receita</h2>
                <button type="submit">Salvar receita</button>
            </div>

            <div class="content-input">

                <div class="input">
                    <h3>Imagem da Receita</h3>
                    <input 
                    type="text" 
                    name="image">
                </div>

                <div class="input" id="ingredients">
                    <h3>Ingredientes</h3>
                    <div class="ingredient">
                        <input
                        type="text"
                        value=""
                        placeholder="Ingrediente"
                        name="ingredients[]"/>
                    </div>
                </div>
                <button class="add-ingredient" type="button">Adicionar novo ingrediente</button>

                <div class="input" id="preparation">
                    <h3>Modo de preparo</h3>
                    <input 
                    type="text" 
                    name="preparation" >
                    <span>Adicionar novo passo</span>
                </div>

                <div class="input more-infotmations">
                    <h3>Informações Adicionais</h3>
                    <input 
                    type="text" 
                    name="information" >
                </div>
            </div>
        </form>
    {% endblock %}