{% extends "admin/layout.njk" %}

{% block headAdmin %}
    <title>Edition</title>
{% endblock %}

{% block contentAdmin %}
    <form class="content-body" method="POST" action="/admin/recipes?_method=PUT">   
        {% include 'admin/fields.njk'%}
    </form>
{% endblock %}