<div class="content-input">
    <div class="input">
        <h3>Imagem da Receita</h3>
        <input 
        type="text" 
        name="image"
        value="{{recipe.image}}"/>
    </div>

    <div class="input">
        <h3>Nome da Receita</h3>
        <input 
        type="text" 
        name="title"
        value="{{recipe.title}}"/>
    </div>

    <div class="input">
        <h3>Nome do Autor</h3>
        <input 
        type="text" 
        name="author"
        value="{{recipe.author}}"/>
    </div>

    <div class="input" id="ingredients">
        <h3>Ingredientes</h3>
        {% if recipe.ingredients %}
            {% for ingredient in recipe.ingredients %}
                <div class="ingredient">
                <input 
                type="text"
                name="ingredients[]"
                value="{{ingredient}}"
                placeholder="Ingredient" />
         </div>
            {% endfor %}
        
        {% else %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="" placeholder="Ingredient" />
            </div>
        {% endif %}
    </div>
    <button type="button" class="add-ingredient">Add Ingredient</button>

    <div class="input" id="preparations">
        <h3>Modo de preparo</h3>
        {# {% for preparation in recipe.preparation %} #}
        <div class="preparation">
            <input 
            type="text"
            value="{{preparation}}"
            placeholder="preparation"
            name="preparation[]"/>
        </div>
        {# {% endfor %} #}
    </div>
    <button class="add-preparation" type="button">Adicionar nova etapa</button>

    <div class="input more-infotmations">
        <h3>Informações Adicionais</h3>
        <input 
        type="text" 
        name="information"
        value="{{recipe.information}}"/>
    </div>
</div>