{% extends "admin/layout.njk" %}

{% block headAdmin %}
    <title>Listing</title>
{% endblock %}

{% block contentAdmin %}
<div class="manager">
    <h2>Gerenciar receitas</h2> 
</div>

<div class="listing">
    <div class="recipe">
        <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
            <h3>Triplo Burger</h3>
            <p>por Bruno Santana</p>
            <a href="">Visualizar</a>
        </div>
    </div>

    <div class="recipe">
        <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
            <h3>Triplo Burger</h3>
            <p>por Bruno Santana</p>
            <a href="">Visualizar</a>
        </div>
    </div>

    <div class="recipe">
        <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
            <h3>Triplo Burger</h3>
            <p>por Bruno Santana</p>
            <a href="">Visualizar</a>
        </div>
    </div>

    <div class="recipe">
        <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
            <h3>Triplo Burger</h3>
            <p>por Bruno Santana</p>
            <a href="">Visualizar</a>
        </div>
    </div>

    <div class="recipe">
        <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
            <h3>Triplo Burger</h3>
            <p>por Bruno Santana</p>
            <a href="">Visualizar</a>
        </div>
    </div>

    <div class="recipe">
        <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="">
        <div>
            <h3>Triplo Burger</h3>
            <p>por Bruno Santana</p>
            <a href="">Visualizar</a>
        </div>  
    </div>
</div>

{% endblock %}