<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Foodfy</title>
</head>
<body>
    <header>
        <nav>
            <a href="index.html"><img src="assets/logo.png" alt=""></a>

            <div class="links">
                <a href="sobre.html">Sobre</a>
                <a href="receitas.html">Receitas</a>
            </div>
            
        </nav>
    </header>
    <main>
        <div class="main">
            <h2>As melhores receitas</h2>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        
    </main>
    <section>
        <div class="mostaccessed">

            <h3>Mais acessadas</h3>

            <div class="pratos">

                <div class="prato">
                    <img src="assets/burger.png" alt="burger">
                    <h4 class="nome-do-prato" >Triplo bacon burger</h4>
                    <p class="chef" >por Jorge Relato</p>
                </div>

                <div class="prato">
                    <img src="assets/pizza.png" alt="pizza">
                    <h4 class="nome-do-prato" >Pizza 4 estações</h4>
                    <p class="chef" >Por Fabiana Melo</p>
                </div>

                <div class="prato">
                    <img src="assets/espaguete.png" alt="espaguete">
                    <h4 class="nome-do-prato" >Espaguete ao molho</h4>
                    <p class="chef" >por Júlia Kinoto</p>
                </div>

                <div class="prato">
                    <img src="assets/lasanha.png" alt="lasanha">
                    <h4 class="nome-do-prato" >Lasanha mac n' cheese</h4>
                    <p class="chef"> por Juliano Vieira</p>
                </div>

                <div class="prato">
                    <img src="assets/doce.png" alt="doce">
                    <h4 class="nome-do-prato" >Docinhos pão-do-céu</h4>
                    <p class="chef" >por Ricardo Golvea</p>
                </div>

                <div class="prato">
                    <img src="assets/asinhas.png" alt="asinha de frango">
                    <h4 class="nome-do-prato" >Asinhas de frango ao barbecue</h4>
                    <p class="chef" >por Vania Steroski</p>
                </div>

            </div>

        </div>
    </section>
    
    <div class="modal-overlay">
        <div class="modal">

            <div class="modal-content">

                <img src="" alt="">
                <h4></h4>
                <p></p>

            </div>

            <a class="close-modal">Fechar modal</a>

        </div>
    </div>

    <footer>
        <p>Todos direitos reservados, receitas, Foodfy
        </p>
    </footer>
    <script src="script.js"></script>
</body>
</html>