{% extends "layout.njk" %}

{% block head %}
    <title>{{receita.title}}</title>
{% endblock %}

{% block content %}
    <div class="banner">
        <img src="{{receita.image}}" alt="{{receita.title}}">
        <h4 class="nome-do-prato" >{{receita.title}}</h4>
        <p class="chef">por {{receita.author}}</p>
        <div class="description">

            <div id="ingredientes" class="partial">
                <h5>Ingredientes</h5><button class="button">mostrar</button>
            
                <ul>
                    {% for item in receita.ingredients %}
                        <li>{{item}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div id="mod" class="partial">
                <h5>Modo de preparo</h5><button class="button">mostrar</button>
                <p>{{receita.preparation}}</p>
            </div>

            <div id="infos" class="partial">
                <h5>Informações Adicinais</h5><button class="button">mostrar</button>
                <p>{{receita.information}}</p>
            </div>

        </div>
    </div>
{% endblock %}
