{% extends "layout.njk" %}

{% block head %}
    <title>{{receita.title}}</title>
{% endblock %}

{% block content %}
    <div class="banner">
        <img src="{{receita.image}}" alt="{{receita.title}}">
        <h4 class="nome-do-prato" >{{receita.title}}</h4>
        <p class="chef">por {{receita.author}}</p>
        <div class="description">
            <div class="partial">
                <h5>Ingredientes</h5><button class="button">status</button>
            </div>        
            <ul>
                {% for item in receita.ingredients %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
            
            <div class="partial">
                <h5>Modo de preparo</h5><button class="button">status</button>
            </div>
            <p>{{receita.preparation}}</p>

            <div class="partial">
                <h5>Informações Adicinais</h5><button class="button">status</button>
            </div>
            <p>{{receita.information}}</p>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="partial.js"></script>
{% endblock %}