{% extends "layout.njk" %}

{% block head %}
    <title>{{receita.title}}</title>
{% endblock %}

{% block content %}

    <div class="banner">
        <img src="{{receita.image}}" alt="{{receita.title}}">
        <h4 class="nome-do-prato" >{{receita.title}}</h4>
        <p class="chef">por {{receita.author}}</p>
        <div class="description">

            <div class="partial">
                <div class="head">
                    <h5>Ingredientes</h5><button id="ingredientes" class="button">ocultar</button>
                </div>

                <a id="ingredientes"><p><ul>
                    {% for item in receita.ingredients %}
                        <li>{{item}}</li>
                    {% endfor %}
                </ul></a>
            </div>

            <div class="partial">
                <div class="head">
                    <h5>Modo de preparo</h5><button id="mod" class="button">ocultar</button>
                </div>

                <a id="mod"><p>{{receita.preparation}}</p></a>
            </div>

            <div class="partial">
                <div class="head">
                    <h5>Informações Adicinais</h5><button id="infos" class="button">ocultar</button>
                </div>

                <a id="infos"><p>{{receita.information}}</p></a>
            </div>

        </div>
    </div>
{% endblock %}
