{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Receitas</title>
{% endblock %}

{% block content %}
    <section>
        <div class="mostaccessed">
            <div class="pratos">                    
                {% for item in recipe %}
                    <div class="prato" id="{{item.id}}">
                        <img src="{{item.image}}" alt="{{item.title}}">
                        <h4 class="nome-do-prato" >{{item.title}}</h4>
                        <p class="chef">por {{item.author}}</p>
                    </div>
                {% endfor %}

                {% for item in recipe %}
                    <div class="prato" id="{{item.id}}">
                        <img src="{{item.image}}" alt="{{item.title}}">
                        <h4 class="nome-do-prato" >{{item.title}}</h4>
                        <p class="chef">por {{item.author}}</p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
