{% extends "admin/recipes/layout.njk" %}

{% block headAdmin %}
    <title>Edition</title>
{% endblock %}

{% block contentAdmin %}

    <form class="content-body" method="POST" action="/admin/recipes?_method=PUT">
        <div class="content-header">
            <h2>Editar Receita</h2>
            <div class="submit">
                <button id="form-delete" type="submit" form="my-form">Deletar</button>
                <button type="submit">Salvar receita</button>
            </div>
        </div>
        {% include 'admin/recipes/fields.njk'%}
        <input type="hidden" name="id" value={{recipe.id}}>
    </form>

    <form id="my-form" method="POST" action="/admin/recipes?_method=DELETE">

        <input type="hidden" name="id" value={{recipe.id}}>
        <button type="submit">Deletar</button>
    
    </form>
{% endblock %}