{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Receitas</title>
{% endblock %}

{% block content %}

    <section>
        <div class="mostaccessed">
            <div class="pratos">                    
                {% for recipe in recipes %}
                    <div class="prato" id="{{recipe.id}}">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                        <h4 class="nome-do-prato" >{{recipe.title}}</h4>
                        <p class="chef">por {{recipe.author}}</p>
                    </div>
                {% endfor %}

                {% for recipe in recipes %}
                    <div class="prato" id="{{recipe.id}}">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                        <h4 class="nome-do-prato" >{{recipe.title}}</h4>
                        <p class="chef">por {{recipe.author}}</p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
